<template>
    <div class="container" v-if="loaded">
        <div class="teams clearfix">
            <div class="teamname" v-bind:class="'team-'+toTeamClasslabel(game_result.teams.home.id)">{{ toTeamname(game_result.teams.home.id) }}</div><div class="vs">VS</div><div class="teamname" v-bind:class="'team-'+toTeamClasslabel(game_result.teams.visitor.id)">{{ toTeamname(game_result.teams.visitor.id) }}</div>
        </div>
        <div class="result-label">シミュレーション結果</div>
        <div class="scoreboard">
            <table>
                <thead>
                    <tr>
                        <th></th><th v-for="(score, inning) in game_result.scoreHighLight.visitor">{{ inning }}</th><th>R</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="team_type in _.reverse(_.values(getTeamtype()))" v-bind:class="team_type">
                        <td><div class="teamname" v-bind:class="'team-' + toTeamClasslabel(game_result.teams[team_type].id)">{{ toTeamname(game_result.teams[team_type].id) }}</div></td>
                        <td v-for="(score, inning) in game_result.scoreHighLight[team_type]">
                            <div class="inning-score">
                                <div class="score" v-on:mouseover="showBalloon(team_type, inning)" v-on:mouseout="hideBalloon()">{{ score }}</div>
                                <div class="balloon" v-bind:class="{ show: isOnMouseBalloon(team_type, inning) }">
                                    <div class="plays">
                                        <div class="play" v-for="play in grouped_plays[team_type][inning]">
                                            <div class="pinch-hitter" v-if="play.pinchHitter">代打：{{ getPlayer(team_type, play.pinchHitter.fromPlayerID).name }}->{{ getPlayer(team_type, play.pinchHitter.toPlayerID).name }}</div>
                                            <div class="relief-pitcher" v-if="play.reliefPitcher">投手交代：{{ getPlayer(reverseTeamType(team_type), play.reliefPitcher.fromPlayerID).name }}->{{ getPlayer(reverseTeamType(team_type), play.reliefPitcher.toPlayerID).name }}</div>
                                            <div class="relief-pitcher" v-for="command in play.fieldingCommand">守備交代：{{ toFieldingCommandStr(reverseTeamType(team_type), command) }}</div>
                                            <span class="outcount" v-for="n in play.initialOutCount">●</span><span class="outcount-rest" v-for="n in (3 - play.initialOutCount)">●</span><img v-bind:src="getRunnerSrc(play.runner)" /><span class="playername">{{ getPlayer(team_type, play.batterID).name }}</span><span class="result">{{ toResultStr(play.resultPlay) }}</span><span class="score">{{ play.score.home }}-{{ play.score.visitor }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><div class="total-score">{{ game_result.score[team_type] }}</div></td>
                    </tr>
                </tbody>
            </table>
            <div class="highlight" v-bind:class="'team-' + toTeamClasslabel(game_result.teams[getViewTeamType()].id)">
                <ul>
                    <li v-for="headline in makeHeadlines()"><i class="fa fa-thumbs-o-up" v-bind:class="getHeadlineClass()"></i>{{ headline }}</li>
                    <div>
                        <div><a v-bind:href="'https://twitter.com/intent/tweet?text=' + encodeURI(makeShareText()) + '&hashtags=プロ野球予報&url=' + getUrl()" target="_blank" class="tweet-button">Tweet</a></div>
                    </div>
                </ul>
            </div>
            <div class="change-order" v-on:click="toOrder(game_result.teams.home.id)">オーダーを変更する</div>
            <div class="once-game" v-on:click="forecast(game_result.teams.home.id, game_result.teams.visitor.id, $route.params.view_team_type)">もう１度予報する</div>
        </div>

        <div class="statistics">
            <div v-for="team_type in _.reverse(_.values(getTeamtype()))" v-bind:class="team_type">
                <div class="label">野手成績</div>
                <table class="batter">
                    <thead>
                        <tr>
                            <th class="player-name">選手</th><th>打数</th><th>安打</th><th>本塁打</th><th>打点</th><th>盗塁</th><th class="result-highright" v-for="(score, inning) in game_result.scoreHighLight[team_type]">{{ inning }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="player in getParticipatedPlayers(team_type, 'batter')">
                            <td>{{ player.name }}</td><td>{{ player.batting_result.at_bats }}</td><td>{{ player.batting_result.hits }}</td><td>{{ player.batting_result.homerun }}</td><td>{{ player.batting_result.rbi }}</td><td>{{ player.batting_result.stolen_base }}</td><td class="result-highright" v-for="(score, inning) in game_result.scoreHighLight[team_type]">{{ getBattingHighrightResult(player.batting_result.highrights, inning) }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="label">投手成績</div>
                <table class="pitcher">
                    <thead>
                        <tr>
                            <th class="player-name">選手</th><th>投球回</th><th>被安打</th><th>被本塁打</th><th>奪三振</th><th>与四球</th><th>失点</th><th>自責点</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="player in getParticipatedPlayers(team_type, 'pitcher')">
                            <td>{{ player.name }}</td><td>{{ toInningsPitched(player.pitching_result.getout) }}</td><td>{{ player.pitching_result.allowed_hits }}</td><td>{{ player.pitching_result.allowed_homeruns }}</td><td>{{ player.pitching_result.strikeouts }}</td><td>{{ player.pitching_result.bases_on_balls }}</td><td>{{ player.pitching_result.allowed_runs }}</td><td>{{ player.pitching_result.earned_runs }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    mounted() {
        this.getGameResult();
        this.isSimulationing = null;
    },
    created() {
    },
    data() {
        return {
            game_result: {},
            grouped_plays: { home: {}, visitor: {} },
            showingBalloon: { team_type: null, inning: null },
            loaded: false,
            resultPositionStrs: { pitcher: '投', catcher: '捕', first: '一', second: '二', third: '三', shortstop: '遊', left: '左', center: '中', right: '右' },
            resultTypeStrs: { single: '安', twobase: '２', triple: '３', homerun: '本', strikeout: '三振', fourball: '四球', groundout: 'ゴ', flyout: '飛', doubleplay: '併' }
        }
    },
    methods: {
        getGameResult() {
            this.$http.get('/api/game/' + this.$route.params.game_id)
            .then(res => {
                this.game_result = JSON.parse(JSON.parse(res.data.game_result).content);
                if (!_.has(this.game_result.scoreHighLight.home, 9)) this.game_result.scoreHighLight.home[9] = 'X'; // 9ウラがない場合
                let home_last_inning = _.findLastKey(this.game_result.scoreHighLight.home, o => true);
                if (home_last_inning >= 9 && this.game_result.scoreHighLight.home[home_last_inning] > 0 && this.game_result.score.home > this.game_result.score.visitor) {
                    // サヨナラ勝利
                    this.game_result.scoreHighLight.home[home_last_inning] += 'X';
                }
                
                _.each(this.game_result.plays, (play) => {
                    let team_type = (play.inningStatus == 'top') ? 'visitor' : 'home';
                    if (!_.has(this.grouped_plays, team_type + '.' + play.inning)) this.grouped_plays[team_type][play.inning] = [];
                    this.grouped_plays[team_type][play.inning].push(play);
                });
                this.loaded = true;
            })
            .then(() => {
                let winning_team_type = null;
                let tweet_status = this.makeShareText();
                console.log(tweet_status);
                if (this.game_result.score.home > this.game_result.score.visitor) {
                    winning_team_type = this.getTeamtype('home');
                } else if (this.game_result.score.home < this.game_result.score.visitor) {
                    winning_team_type = this.getTeamtype('visitor');
                }
                let winning_team_id = this.game_result.teams[winning_team_type].id;
                let view_team_type = this.getViewTeamType();
                return this.$http.post('/api/complete_forecast', { game_id: this.$route.params.game_id, winning_team_id: winning_team_id, tweet_status: tweet_status, view_team_type: view_team_type } );
            });
        },
        getPlayer(team_type, player_id) {
            return _.find(this.game_result.teams[team_type].players, player => player.id === player_id);
        },
        getParticipatedPlayers(team_type, player_type) {
            if (player_type === 'batter') {
                let players = _.filter(this.game_result.teams[team_type].players, (player) =>  {
                    return player.game_participation !== null && (player.batting_result.plate_appearance > 0 || player.pitching_result.plate_appearance === 0);
                });
                return _.orderBy(players, ['game_participation.batting_order', 'game_participation.inning']);
            } else {
                let players = _.filter(this.game_result.teams[team_type].players, (player) =>  {
                    return player.game_participation !== null && player.pitching_result.plate_appearance > 0;
                });
                return _.orderBy(players, ['game_participation.inning', 'game_participation.batting_order']);
            }
        },
        showBalloon(team_type, inning) {
            this.showingBalloon.team_type = team_type;
            this.showingBalloon.inning = inning;
        },
        hideBalloon() {
            this.showingBalloon.team_type = null;
            this.showingBalloon.inning = null;
        },
        isOnMouseBalloon(team_type, inning) {
            return this.showingBalloon.team_type === team_type && this.showingBalloon.inning === inning;
        },
        getRunnerSrc(runner) {
            let runnerVal = 0;
            if (!_.isNull(runner.first)) runnerVal += 1;
            if (!_.isNull(runner.second)) runnerVal += 2;
            if (!_.isNull(runner.third)) runnerVal += 4;
            return '/img/runner' + runnerVal + '.png';
        },
        toFieldingCommandStr(team_type, command) {
            if (_.isEmpty(command.fromPosition)) {
                return this.getPlayer(team_type, command.fromPlayerId).name + '(' + this.getPositionLabel(this.toPosition(command.fromPosition)) + ')' + '<=>' + '(' + this.getPositionLabel(this.toPosition(command.toPosition)) + ')' + this.getPlayer(team_type, command.toPlayerId).name;
            } else {
                return this.getPlayer(team_type, command.fromPlayerId).name + '<->' + this.getPlayer(team_type, command.toPlayerId).name;
            }
        },
        toResultStr(result_play) {
            let result_str = '';
            if (_.has(this.resultPositionStrs, result_play.position)) result_str += this.resultPositionStrs[result_play.position];
            if (_.has(this.resultTypeStrs, result_play.resultType)) result_str += this.resultTypeStrs[result_play.resultType];
            return result_str;
        },
        getBattingHighrightResult(batting_highrights, inning) {
            if (!_.has(batting_highrights, inning)) return '-';
            let highright_strs = _.map(batting_highrights[inning], this.toResultStr);
            return highright_strs.join('/');
        },
        getViewTeamType() {
            return _.isEmpty(this.$route.params.view_team_type) ? this.getTeamtype('home') : this.$route.params.view_team_type;
        },
        getHeadlineClass() {
            let team_type = this.getViewTeamType();
            let is_win = (team_type === this.teamtypes.home) ? this.game_result.score.home > this.game_result.score.visitor : this.game_result.score.home < this.game_result.score.visitor;
            return (is_win) ?  'fa-thumbs-o-up' : 'fa-thumbs-o-down';
        },
        makeHeadlines() {
            let headlines = [];
            let team_type = this.getViewTeamType();
            let is_win = (team_type === this.teamtypes.home) ? this.game_result.score.home > this.game_result.score.visitor : this.game_result.score.home < this.game_result.score.visitor;

            // 同点打や逆転打のplayから見出しを作る
            let compress_score = (score) => {
                if (score >  1) score = 1;
                if (score < -1) score = -1;
                return score;
            };
            let moving_game_plays = _.filter(this.game_result.plays, (play) => {
                let score = { home: play.score.home, visitor: play.score.visitor };
                let score_diff = compress_score(score.home - score.visitor);
                score[this.toTeamType(play.inningStatus)] += play.resultPlay.scored;
                let new_score_diff = compress_score(score.home - score.visitor);
                return score_diff !== new_score_diff;
            });
            if (is_win) {
                let deciding_play = _.last(moving_game_plays);
                if (_.indexOf([this.resultTypes.single, this.resultTypes.twobase, this.resultTypes.triple, this.resultTypes.homerun, this.resultTypes.fourball, this.resultTypes.sacrifice_bunt, this.resultTypes.sacrifice_fly], deciding_play.resultPlay.resultType) !== -1) {
                    let hero_batter = this.getPlayer(team_type, deciding_play.batterID);
                    let score_type = '';
                    if (_.last(this.game_result.plays) === deciding_play) {
                        score_type = 'サヨナラ';
                    } else if (deciding_play.score[team_type] === 0 && deciding_play.score[this.reverseTeamType(team_type)] === 0) {
                        score_type = '先制';
                    } else if (deciding_play.score.home === deciding_play.score.visitor) {
                        score_type = '勝ち越し';
                    } else {
                        score_type = '逆転';
                    }

                    let result_label = (_.indexOf([this.resultTypes.single, this.resultTypes.twobase, this.resultTypes.triple], deciding_play.resultPlay.resultType) !== -1) ? 'タイムリー' : this.getResultTypeLabel(deciding_play.resultPlay.resultType);
                    headlines.push(this.toZenkaku(deciding_play.inning.toString()) + '回' + this.getInningStatusLabel(deciding_play.inningStatus) + '、' + this.trimToLastname(hero_batter.name) + 'の' + score_type + result_label + '！');
                }
            }

            // 選手の個人成績から見出しを作る
            _.each(this.getParticipatedPlayers(team_type, 'batter'), (player) => {
                if (is_win) {
                    if (player.batting_result.homerun >= 2) {
                        headlines.push(this.trimToLastname(player.name) + this.toZenkaku(player.batting_result.homerun.toString()) + '本塁打！');
                    } else if (player.batting_result.rbi >= 3) {
                        headlines.push(this.trimToLastname(player.name) + this.toZenkaku(player.batting_result.rbi.toString()) + '打点！');
                    } else if (player.batting_result.hits >= 3) {
                        headlines.push(this.trimToLastname(player.name) + this.toZenkaku(player.batting_result.hits.toString()) + '安打！');
                    }
                } else {
                    if (player.batting_result.at_bats >= 5 && player.batting_resultts === 0) {
                        headlines.push(this.trimToLastname(player.name) + this.toZenkaku(player.batting_result.at_bats.toString()) + '打数無安打...');
                    }
                }
            });

            let participated_pitchers = this.getParticipatedPlayers(team_type, 'pitcher');
            if (is_win) {
                let starter = participated_pitchers[0];
                if (participated_pitchers.length === 1) {
                    let wintype =  (starter.pitching_result.allowed_runs === 0) ? '完封' : '完投';
                    let str = '';
                    if (starter.pitching_result.strikeouts >= 10) {
                        str = this.toZenkaku(starter.pitching_result.strikeouts.toString()) + '奪三振';
                    } else if (starter.pitching_result.allowed_runs >= 1 && starter.pitching_result.allowed_runs <= 3) {
                        str = this.toZenkaku(starter.pitching_result.allowed_runs.toString()) + '失点';
                    }
                    headlines.push(this.trimToLastname(starter.name) + str + wintype + '勝利！');
                } else {
                    if (starter.pitching_result.getout >= 21 && starter.pitching_result.allowed_runs <= 2) {
                        let str = this.toZenkaku(Math.ceil(starter.pitching_result.getout / 3).toString()) + '回';
                        if (starter.pitching_result.getout % 3 !== 0) str += '途中';
                        str += (starter.pitching_result.allowed_runs === 0) ? '無失点' : this.toZenkaku(starter.pitching_result.allowed_runs.toString()) + '失点'; 
                        headlines.push(this.trimToLastname(starter.name) + str + 'の好投！');
                    }
                }
            } else {
                _.each(participated_pitchers, (player, index) => {
                        if (index === 0) { 
                            // 先発投手
                            if (player.pitching_result.getout <= 12 && player.pitching_result.allowed_runs >= 4) {
                                let str = this.toZenkaku(Math.ceil(player.pitching_result.getout / 3).toString()) + '回';
                                if (player.pitching_result.getout % 3 !== 0) str += '途中';
                                str += this.toZenkaku(player.pitching_result.allowed_runs.toString()) + '失点'; 
                                headlines.push('先発' + this.trimToLastname(player.name) + str + 'でKO...');
                            } else if (player.pitching_result.allowed_runs >= 5) {
                                headlines.push('先発' + this.trimToLastname(player.name) + this.toZenkaku(player.pitching_result.allowed_runs.toString()) + '失点...');
                            }
                        } else {
                            // 中継ぎ
                            let bante = this.toZenkaku((index + 1).toString()) + '番手';
                            if (player.pitching_result.allowed_runs >= 3) {
                                headlines.push(bante + this.trimToLastname(player.name) + this.toZenkaku(player.pitching_result.allowed_runs.toString()) + '失点...');
                            }
                        }
                });
            }

            return headlines;
        },
        getUrl() {
            return window.location.href;
        },
        makeShareText() {
            let dates = this.game_result.date.split('-');
            let text = '【プロ野球予報】' + dates[1] + '月' + dates[2] + '日\n' +
                       this.toTeamname(this.game_result.teams.visitor.id) + '\n';
            _.each(_.reverse(_.values(this.getTeamtype())), (team_type) => {
                _.each(this.game_result.scoreHighLight[team_type], (score, inning) => {
                    text += score;
                    if (inning % 3 === 0) text += ' ';
                });
                text += '- ' + this.game_result.score[team_type] + '\n';
            });
            text += this.toTeamname(this.game_result.teams.home.id) + '\n\n';
            text += _.map(this.makeHeadlines(), (headline) => '・' + headline).join('\n') + '\n';
            return text;
        }
    },
    watch: {
        // ルートが変更されたらこのメソッドを再び呼び出します
        '$route': 'getGameResult'
    },
    mixins: [
        Vue.extend(require('./ViewHelper.vue')),
        Vue.extend(require('./Forecast.vue')),
    ]
}
</script>

<style scoped>
.teams {
    text-align: center;
}
.teams .teamname {
    position: relative;
    display: inline-block;
    width: 20%;
    padding: 0.5em 1em;
    font-weight: bold;
    color: #fff;
}
.teams .teamname.team-c  { border-bottom: solid 4px #ff0000; }
.teams .teamname.team-g  { border-bottom: solid 4px #f27900; }
.teams .teamname.team-db { border-bottom: solid 4px #0061b7; }
.teams .teamname.team-t  { border-bottom: solid 4px #f4cc00; }
.teams .teamname.team-y  { border-bottom: solid 4px #1A854F; }
.teams .teamname.team-d  { border-bottom: solid 4px #033c82; }
.teams .teamname.team-f  { border-bottom: solid 4px #00508e; }
.teams .teamname.team-h  { border-bottom: solid 4px #f4bb11; }
.teams .teamname.team-m  { border-bottom: solid 4px #000000; }
.teams .teamname.team-l  { border-bottom: solid 4px #002054; }
.teams .teamname.team-e  { border-bottom: solid 4px #840000; }
.teams .teamname.team-bs { border-bottom: solid 4px #000019; }
.teams .vs {
    display: inline-block;
    width: 10%;
    color: #ffc;
    font-weight: bold;
}
.result-label {
    text-align: center;
    margin: 0.8em auto 0.4em;
    font-size: 36px;
    color: #ffc;
}

.scoreboard table {
    table-layout: fixed;
    width: auto;
    margin: 0 auto;
}
.scoreboard th, .scoreboard td {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0px;
}
.scoreboard td {
    padding: 1px;
    overflow: initial;
}
.scoreboard .teamname {
    width: 140px;
    margin: 0 5px;
    padding: 5px 0;
}
.scoreboard .teamname.team-c  { border-bottom: solid 3px #ff0000; }
.scoreboard .teamname.team-g  { border-bottom: solid 3px #f27900; }
.scoreboard .teamname.team-db { border-bottom: solid 3px #0061b7; }
.scoreboard .teamname.team-t  { border-bottom: solid 3px #f4cc00; }
.scoreboard .teamname.team-y  { border-bottom: solid 3px #1A854F; }
.scoreboard .teamname.team-d  { border-bottom: solid 3px #033c82; }
.scoreboard .teamname.team-f  { border-bottom: solid 3px #00508e; }
.scoreboard .teamname.team-h  { border-bottom: solid 3px #f4bb11; }
.scoreboard .teamname.team-m  { border-bottom: solid 3px #000000; }
.scoreboard .teamname.team-l  { border-bottom: solid 3px #002054; }
.scoreboard .teamname.team-e  { border-bottom: solid 3px #840000; }
.scoreboard .teamname.team-bs { border-bottom: solid 3px #000019; }

.scoreboard .inning-score {
    position: relative;
    background-color: #336;
    height: 100%;
    transition: .1s;
    line-height: 40px;
    cursor: cell;
}
.scoreboard .inning-score:hover {
    background-color: #55a;
}

.scoreboard .total-score {
    font-weight: bold;
    background-color: #448;
    line-height: 40px;
}

.balloon {
    position: absolute;
    display: none;
    margin: 1.5em 0;
    padding: 7px 10px;
    width: 300px;
    color: #555;
    font-size: 16px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #aaa;
    left: -140px;
    top: 70%;
    z-index: 1;
    opacity: 0.97;
}
.balloon.show {
    display: inline-block;
}
.balloon:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -12px;
    border: 12px solid transparent;
    border-bottom: 12px solid #e0edff;
    opacity: 0.97;
}

.balloon .plays .play .outcount {
    color: #f30;
    font-size: 12px;
}
.balloon .plays .play .outcount-rest {
    color: #aaa;
    font-size: 12px;
}
.balloon .plays .play img {
    width: 50px;
    height: 25px;
    margin-left: 8px;
    vertical-align: middle;
}
.balloon .plays .play span {
    vertical-align: middle;
}
.balloon .plays .play .playername {
    margin-left: 8px;
}
.balloon .plays .play .result {
    margin-left: 5px;
}
.balloon .plays .play .score {
    margin-left: 8px;
}

.highlight {
    background: #fff;
    padding: 8px 12px;
    max-width: 600px;
    margin: 1em auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.highlight.team-c  { border: solid 5px #ff0000;color: #ff0000; }
.highlight.team-g  { border: solid 5px #f27900;color: #f27900; }
.highlight.team-db { border: solid 5px #0061b7;color: #0061b7; }
.highlight.team-t  { border: solid 5px #f4cc00;color: #f4cc00; }
.highlight.team-y  { border: solid 5px #1A854F;color: #1A854F; }
.highlight.team-d  { border: solid 5px #033c82;color: #033c82; }
.highlight.team-f  { border: solid 5px #00508e;color: #00508e; }
.highlight.team-h  { border: solid 5px #f4bb11;color: #f4bb11; }
.highlight.team-m  { border: solid 5px #000000;color: #000000; }
.highlight.team-l  { border: solid 5px #002054;color: #002054; }
.highlight.team-e  { border: solid 5px #840000;color: #840000; }
.highlight.team-bs { border: solid 5px #000019;color: #000019; }

.highlight ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.highlight ul li {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.6em;
}

.tweet-button {
    display: inline-block;
    width: 40%;
    margin: 5px 30% 0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #44bbcc;
    color: #44bbcc;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s;
}
.tweet-button:hover {
    background-color: #44bbcc;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    color: #fff;
    transition: all .2s;
}

.change-order, .once-game {
    display: inline-block;
    width: 24%;
    padding: 0.5em 3%;
    text-decoration: none;
    font-weight: bold;
    background: #fff;
    transition: .4s;
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 5px double #336;
    color: #336;
    font-size: 27px;
    text-align: center;
    border-radius: 5px;
}
.change-order:hover, .once-game:hover {
    color: #fff;
    background-color: #336;
}
.change-order {
    margin-left: 16%;
    margin-right: 4%;
}
.once-game {
    margin-left: 4%;
}

.statistics .label {
    font-size: 24px;
    color: #ffc;
    text-align: center;
    margin: 0.5em auto;
}

.statistics table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
.statistics table thead th {
    border: 1px solid #336;
}
.statistics table thead th.player-name {
    width: 15%;
}
.statistics table tbody td {
    border: 1px solid #112;
    background-color: #336;
}

@media (max-width: 767px) { 

    .result-label {
        font-size: 30px;
    }

    .teams .teamname.team-c, .teams .teamname.team-g, .teams .teamname.team-db, .teams .teamname.team-t, .teams .teamname.team-y, .teams .teamname.team-d,
    .teams .teamname.team-f, .teams .teamname.team-h, .teams .teamname.team-m, .teams .teamname.team-l, .teams .teamname.team-e, .teams .teamname.team-bs {
        border-width: 2px;
    }
    .teams .teamname {
        width: 45%;
        padding: 5px 0;
        font-size: 22px;
    }
    .change-order, .once-game {
        display: block;
        width: 100%;
        margin: 0.5em auto;
        padding: 0.5em 0;
    }

    .statistics th.result-highright, .statistics td.result-highright {
        display: none;
    }
    .statistics table thead th.player-name { width: 30%; }

    .scoreboard .inning-score {
        position: inherit;
    }
    .scoreboard table {
        position: relative;
    }
    .balloon {
        left: 0%;
        top: 110%;
        width: 90%;
        margin: 0 auto;
    }

}
</style>
