<template>
    <div class="container">
        <div class="teams clearfix">
            <div class="teamname" v-bind:class="'team-'+toTeamClasslabel(teams.home.team_id)">{{ toTeamname(teams.home.team_id) }}</div><div class="vs">VS</div><div class="teamname" v-bind:class="'team-'+toTeamClasslabel(teams.visitor.team_id)">{{ toTeamname(teams.visitor.team_id) }}</div>
        </div>
        <div class="start" v-bind:class="'team-'+toTeamClasslabel($route.params.team_id)" v-on:click="forecast(teams.home.team_id, teams.visitor.team_id, getViewTeamType($route.params.team_id))"><span class="simulationing" v-if="checkSimulationing()"><img src="/img/simulating.gif" width="20" height="20" /> シミュレーション中...</span><span v-else>試合開始</span></div>
        <div class="order">
            <div class="teamname sp-only" v-bind:class="'team-'+toTeamClasslabel(teams.home.team_id)">{{ toTeamname(teams.home.team_id) }}</div>
            <div class="reset-order" v-bind:class="'team-'+toTeamClasslabel(teams.home.team_id)" v-on:click="resetOrder(teams.home.team_id)">デフォルトのオーダーに戻す</div>
            <table class="home">
                <thead>
                    <tr>
                        <th class="batting-order">打順</th><th class="position">守備</th><th class="player-name">選手</th><th class="status">成績</th><th class="positions">守備適正</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="order_item in teams.home.starting_order">
                        <td><span v-if="order_item.batting_order">{{ order_item.batting_order }}</span></td><td><div class="clickable position" v-bind:class="{ selected: isSelected('position', 'home', order_item.position)}" v-on:click="selectPosition('home', order_item.position)">{{ getPositionLabel(order_item.position) }}</div></td><td><div class="clickable player" v-bind:class="{ selected: isSelected('player', 'home', order_item.player_id)}" v-on:click="selectPlayer('home', order_item.player_id)" v-if="loaded == true">{{ getPlayer('home', order_item.player_id).name }}</div></td><td><div class="status">{{ showStatus('home', order_item.player_id) }}</div></td><td><div class="positions">{{ showFieldablePositions('home', order_item.player_id) }}</div></td>
                    </tr>
                    <tr v-for="bench_player in teams.home.bench_player_roles">
                        <td colspan="2"><div class="show-modal clickable role" v-bind:class="{ selected: isSelected('role', 'home', bench_player.player_id)}" v-on:click="selectRole('home', null, bench_player.player_id)">{{ getRoleLabel(bench_player.role) }}</div></td><td><div class="clickable role" v-bind:class="{ selected: isSelected('player', 'home', bench_player.player_id)}" v-on:click="selectPlayer('home', bench_player.player_id)" v-if="loaded">{{ getPlayer('home', bench_player.player_id).name }}</div></td><td><div class="status">{{ showStatus('home', bench_player.player_id) }}</div></td><td><div class="positions">{{ showFieldablePositions('home', bench_player.player_id) }}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="order">
            <div class="teamname sp-only" v-bind:class="'team-'+toTeamClasslabel(teams.visitor.team_id)">{{ toTeamname(teams.visitor.team_id) }}</div>
            <div class="reset-order" v-bind:class="'team-'+toTeamClasslabel(teams.visitor.team_id)" v-on:click="resetOrder(teams.visitor.team_id)">デフォルトのオーダーに戻す</div>
            <table class="visitor">
                <thead>
                    <tr>
                        <th class="batting-order">打順</th><th class="position">守備</th><th class="player-name">選手</th><th class="status">成績</th><th class="positions">守備適正</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="order_item in teams.visitor.starting_order">
                        <td><span v-if="order_item.batting_order">{{ order_item.batting_order }}</span></td><td><div class="clickable position" v-bind:class="{ selected: isSelected('position', 'visitor', order_item.position)}" v-on:click="selectPosition('visitor', order_item.position)">{{ getPositionLabel(order_item.position) }}</div></td><td><div class="clickable player" v-bind:class="{ selected: isSelected('player', 'visitor', order_item.player_id)}" v-on:click="selectPlayer('visitor', order_item.player_id)"v-if="loaded">{{ getPlayer('visitor', order_item.player_id).name }}</div></td><td><div class="status">{{ showStatus('visitor', order_item.player_id) }}</div></td><td><div class="positions">{{ showFieldablePositions('visitor', order_item.player_id) }}</div></td>
                    </tr>
                    <tr v-for="bench_player in teams.visitor.bench_player_roles">
                        <td colspan="2"><div class="show-modal clickable role" v-bind:class="{ selected: isSelected('role', 'visitor', bench_player.player_id)}" v-on:click="selectRole('visitor', null, bench_player.player_id)">{{ getRoleLabel(bench_player.role) }}</div></td><td><div class="clickable player" v-bind:class="{ selected: isSelected('player', 'visitor', bench_player.player_id)}" v-on:click="selectPlayer('visitor', bench_player.player_id)" v-if="loaded">{{ getPlayer('visitor', bench_player.player_id).name }}</div></td><td><div class="status">{{ showStatus('visitor', bench_player.player_id) }}</div></td><td><div class="positions">{{ showFieldablePositions('visitor', bench_player.player_id) }}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal role-selector" style="display: none;">
            
            <div class="headline" v-if="getRoleItem(selected.team_type, selected.data.player_id)">{{ getPlayer(selected.team_type, selected.data.player_id).name }}:{{ getRoleLabel(getRoleItem(selected.team_type, selected.data.player_id).role) }} → ？</div>
            <div class="roles">
                <div v-if="isBatter(selected.data.player_id)" v-for="role in batterRoles" class="role" v-on:click="selectRole(selected.team_type, role, null)">{{ getRoleLabel(role) }}</div>
                <div v-if="isPitcher(selected.data.player_id)" v-for="role in pitcherRoles" class="role" v-on:click="selectRole(selected.team_type, role, null)">{{ getRoleLabel(role) }}</div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    mounted() {
        this.getTeamsOrder(this.$route.params.team_id);
        $(window).on($.modal.BEFORE_CLOSE, (event, modal) => {
            this.resetSelectedData();
        });
    },
    created() {
    },
    data() {
        return {
            /* データ構造設計
             * teams: {
             *     "home": {
             *         "team_id": 3,
             *         "players": { (id): { id:1, name: …, batting_status: {}, pitching_status: {} },
             *         "roster_player_ids": [1,2, 4, 11, 223, ...],
             *         "starting_order": { 1: { player_id: 13, position: "second" }, 2: { player_id .., position.. } , … },
             *         "bench_player_roles": [ { player_id: 100, role: utility }, { player_id …} , ]],
             *     },
             *     "visitor": {…}
             * }
             */
            teams: {
                home: { team_id: null, players: [], roster_player_ids: [], starting_order: {}, bench_player_roles: {}, default_order_date: null, default_starting_order: {}, default_bench_player_roles: {} },
                visitor: { team_id: null, players: [], roster_player_ids: [], starting_order: {}, bench_player_roles: {}, default_order_date: null, default_starting_order: {}, default_bench_player_roles: {}  }
            },
            selected: {
                type: null,
                team_type: 'home',
                data: {}
            },
            loaded: false
        }
    },
    methods: {
         getTeamsOrder(team_id) {
             this.$http.get('/api/notice_starter/' + team_id)
             .then(res => {
                 this.teams.home.team_id = res.data.home_team_id;
                 this.teams.visitor.team_id = res.data.visitor_team_id;
                 this.teams.home.notice_starter_player_id = res.data.home_player_id;
                 this.teams.visitor.notice_starter_player_id = res.data.visitor_player_id;
                 return Promise.all([
                     this.getPlayers(this.getTeamtype('home'), res.data.home_team_id),
                     this.getPlayers(this.getTeamtype('visitor'), res.data.visitor_team_id),
                     this.getTeamOrder(this.getTeamtype('home'), res.data.home_team_id),
                     this.getTeamOrder(this.getTeamtype('visitor'), res.data.visitor_team_id)
                 ]);
             })
             .then(() => {
                 // ユーザーのオーダー交代操作時に備え、スタメン選手に仮の役割を振っておく
                 _.each(this.getTeamtype(), (team_type) => {
                     this.teams[team_type].default_starting_order = _.map(this.teams[team_type].default_starting_order, (order_item) => {
                         order_item.role = (this.isPitcher(order_item.player_id)) ? 'long_relief' : 'dependable_pinch_hitter';
                         return order_item;
                     });
                 });
                 this.updateOrder();
                 this.loaded = true;
             });
         },
         getViewTeamType(home_team_id) {
             return (this.$route.params.team_id === home_team_id) ? this.getTeamtype('home') : this.getTeamtype('visitor');
         },
         checkSimulationing() {
             return this.isSimulationing === Number(this.$route.params.team_id);
         },
         getPlayers(team_type, team_id) {
             return this.callPlayersAPI(team_id)
                    .then((players) => {
                       this.teams[team_type].players = players;
                       return Promise.resolve();
                    });
         },
         resetOrder(team_id) {
             if (window.confirm('あなたの設定した' + this.toTeamname(team_id) + 'のオーダーをリセットしてよいでしょうか？')) {
                 let storage_key = 'order_' + this.toTeamClasslabel(team_id);
                 localStorage.removeItem(storage_key + '_starting_order');
                 localStorage.removeItem(storage_key + '_bench_player_roles');
                 this.updateOrder();
             }
         },
         getTeamOrder(team_type, team_id) {
             return this.callDefaultOrderAPI(team_id)
                    .then(ret => {
                        let storage_key = 'order_' + this.toTeamClasslabel(this.teams[team_type].team_id);
                        let holding_date = localStorage.getItem(storage_key + '_date'); // team_idのどの日付のdefault_orderかという情報
                        if (holding_date !== ret.date) {
                            // 7/1のオーダーを取得してオーダーを組む→翌日7/2のオーダーを取得したらlocalStorageに持っていたオーダーをリセット
                            localStorage.removeItem(storage_key + '_starting_order');
                            localStorage.removeItem(storage_key + '_bench_player_roles');
                        }
                        this.teams[team_type].roster_player_ids = ret.roster_player_ids;
                        this.teams[team_type].default_order_date = ret.date;
                        this.teams[team_type].default_starting_order = ret.default_starting_order;
                        this.teams[team_type].default_bench_player_roles = ret.default_bench_player_roles;
                        return Promise.resolve();
                    });
         },
         getPlayer(team_type, player_id) {
             return _.find(this.teams[team_type].players, (player) => player.id === player_id);
         },
         showFieldablePositions(team_type, player_id) {
             let player = this.getPlayer(team_type, player_id);
             let fieldable_positions = ' [' + _.map(player.fieldable_positions, p => this.getPositionLabel(p)).join('|') + ']';
             return fieldable_positions;
         },
         showStatus(team_type, player_id) {
             let player = this.getPlayer(team_type, player_id);
             let starting_order_item = _.find(this.teams[team_type].starting_order, (order_item) => order_item.player_id === player_id);
             if (!_.isEmpty(starting_order_item)) {
                 if (starting_order_item.position === 'pitcher') {
                     // 投手成績
                     return this.toPitchingStatusStr(player.player_pitching_status, true);
                 } else {
                     // 打撃成績
                     return this.toBattingStatusStr(player.player_batting_status);
                 }
             }

             let bench_player_item = _.find(this.teams[team_type].bench_player_roles, (bench_item) => bench_item.player_id === player_id);
             if (!_.isEmpty(bench_player_item)) {
                 if (_.indexOf(this.pitcherRoles, bench_player_item.role) !== -1) {
                     // 投手成績
                     return this.toPitchingStatusStr(player.player_pitching_status, false);
                 } else {
                     // 打撃成績
                     return this.toBattingStatusStr(player.player_batting_status);
                 }
             }
             return '';
         },
         getRoleItem(team_type, player_id) {
             return _.find(this.teams[team_type].bench_player_roles, (role_item) => role_item.player_id === player_id);
         },
         getBenchPlayerIds(team_type) {
             let benchPlayerIds = this.teams[team_type].roster_player_ids;
             let startingOrderPlayerIds = _.map(this.teams[team_type].starting_order, (order_item) => order_item.player_id);
             return _.difference(benchPlayerIds, startingOrderPlayerIds);
         },
         isPitcher(player_id) {
             let player = _.find(this.teams.home.players, (player) => player.id === player_id);
             player = (_.isEmpty(player)) ? _.find(this.teams.visitor.players, (player) => player.id === player_id) : player;
             if (_.isEmpty(player)) return false;
             return _.indexOf(player.fieldable_positions, 'pitcher') !== -1;
         },
         isBatter(player_id) {
             let player = _.find(this.teams.home.players, (player) => player.id === player_id);
             player = (_.isEmpty(player)) ? _.find(this.teams.visitor.players, (player) => player.id === player_id) : player;
             if (_.isEmpty(player)) return false;
             return _.difference(player.fieldable_positions, ['pitcher', 'designated_hitter']).length > 0;
         },
         selectPosition(team_type, position) {
             if (this.selected.team_type !== team_type || this.selected.type !== 'position') {
                 // 最初の選択
                 this.setSelectedData('position', team_type, { position: position });
             } else {
                 // position入れ替え
                 let from_key = _.findKey(this.teams[team_type].starting_order, (order_item) => order_item.position === this.selected.data.position);
                 let to_key = _.findKey(this.teams[team_type].starting_order, (order_item) => order_item.position === position);
                 let tmp_position = this.teams[team_type].starting_order[to_key].position;
                 this.teams[team_type].starting_order[to_key].position = this.teams[team_type].starting_order[from_key].position;
                 this.teams[team_type].starting_order[from_key].position = tmp_position;
                 this.setOrderStorage(team_type);
                 this.resetSelectedData();
             }
         },
         selectPlayer(team_type, player_id) {
             let existsInBench = (player_id) => !_.isEmpty(_.find(this.teams[team_type].bench_player_roles, (role) => role.player_id === player_id)); // player_idの選手がベンチにいるかどうか
             let exists_in_bench = existsInBench(player_id);
             let sort_index = (exists_in_bench) ? _.findKey(this.teams[team_type].bench_player_roles, (bench_item) => bench_item.player_id === player_id) : _.findKey(this.teams[team_type].starting_order, (order_item) => order_item.player_id === player_id);

             if (this.selected.team_type !== team_type || this.selected.type !== 'player') {
                 // 最初の選択
                 this.setSelectedData('player', team_type, { player_id: player_id, exists_in_bench: exists_in_bench, sort_index: sort_index});
             } else {
                 // player(order_item)入れ替え
                 // player_idとroleを入れ替える
                 let from_obj = (this.selected.data.exists_in_bench) ? this.teams[team_type].bench_player_roles[this.selected.data.sort_index] : this.teams[team_type].starting_order[this.selected.data.sort_index];
                 let to_obj = (exists_in_bench) ? this.teams[team_type].bench_player_roles[sort_index] : this.teams[team_type].starting_order[sort_index];
                 let tmp_player_id = from_obj.player_id;
                 let tmp_role = from_obj.role;

                 from_obj.player_id = to_obj.player_id;
                 from_obj.role = to_obj.role;
                 to_obj.player_id = tmp_player_id;
                 to_obj.role = tmp_role;

                 if (this.selected.data.exists_in_bench === false && exists_in_bench === false) {
                     // スタメン選手同士の場合は守備位置も入れ替え
                     let tmp_position = from_obj.position;
                     from_obj.position = to_obj.position;
                     to_obj.position = tmp_position;
                 }

                 this.setOrderStorage(team_type);
                 this.resetSelectedData();
             }
         },
         selectRole(team_type, role, player_id) {
             if (this.selected.team_type !== team_type || this.selected.type !== 'role') {
                 // 最初の選択
                 this.setSelectedData('role', team_type, { player_id: player_id });
                 $('.modal.role-selector').modal({ fadeDuration: 100 });
             } else {
                 // role変更 
                 let sort_index = _.findKey(this.teams[team_type].bench_player_roles, (role_item) => role_item.player_id === this.selected.data.player_id);
                 this.teams[team_type].bench_player_roles[sort_index].role = role;
                 this.setOrderStorage(team_type);
                 $.modal.close();
                 this.resetSelectedData();
             }
         },
         setSelectedData(type, team_type, data) {
             this.selected.type = type;
             this.selected.team_type = team_type;
             this.selected.data = data;
         },
         isSelected(type, team_type, tmp_data) {
             var matched_data;
             switch (type) {
                 case 'position':
                     matched_data = this.selected.data.position === tmp_data;
                     break;
                 case 'player':
                     matched_data = this.selected.data.player_id === tmp_data;
                     break;
                 case 'role':
                     matched_data = this.selected.data.role === tmp_data;
                     break;
             }
             return this.selected.type === type && this.selected.team_type === team_type && matched_data === true;
         },
         resetSelectedData() {
             this.selected = { type: null, team_type: 'home', data: {} };
         },
         setOrderStorage(team_type) {
             // Storageにセット
             let storage_key = 'order_' + this.toTeamClasslabel(this.teams[team_type].team_id);
             localStorage.setItem(storage_key + '_date', this.teams[team_type].default_order_date);
             localStorage.setItem(storage_key + '_starting_order', JSON.stringify(this.teams[team_type].starting_order));
             localStorage.setItem(storage_key + '_bench_player_roles', JSON.stringify(this.teams[team_type].bench_player_roles));
             this.teams[team_type].starting_order = JSON.parse(localStorage.getItem(storage_key + '_starting_order'));
             this.teams[team_type].bench_player_roles = JSON.parse(localStorage.getItem(storage_key + '_bench_player_roles'));
         },
         updateOrder() {
             // CookieがあればCookieからオーダーセット、なければdefaultのオーダーセット
             _.each(this.getTeamtype(), (team_type, key) => {
                 let storage_key = 'order_' + this.toTeamClasslabel(this.teams[team_type].team_id);
                 if (!window.localStorage || _.isEmpty(localStorage.getItem(storage_key + '_starting_order')) || _.isEmpty(localStorage.getItem(storage_key + '_bench_player_roles'))) {
                     // Storageがない場合
                     this.teams[team_type].starting_order = this.teams[team_type].default_starting_order;
                     this.teams[team_type].bench_player_roles = this.teams[team_type].default_bench_player_roles;
                     this.setOrderStorage(team_type);
                 } else {
                     // Storageがある場合
                     this.teams[team_type].starting_order = JSON.parse(localStorage.getItem(storage_key + '_starting_order'));
                     this.teams[team_type].bench_player_roles = JSON.parse(localStorage.getItem(storage_key + '_bench_player_roles'));
                 }
             });
         }
    },
    mixins: [
        Vue.extend(require('./ViewHelper.vue')),
        Vue.extend(require('./Forecast.vue')),
    ]
}
</script>

<style scoped>
.teams {
    text-align: center;
}
.teamname {
    position: relative;
    display: inline-block;
    width: 20%;
    padding: 0.5em 1em;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.teamname.team-c  { border-bottom: solid 4px #ff0000; }
.teamname.team-g  { border-bottom: solid 4px #f27900; }
.teamname.team-db { border-bottom: solid 4px #0061b7; }
.teamname.team-t  { border-bottom: solid 4px #f4cc00; }
.teamname.team-y  { border-bottom: solid 4px #1A854F; }
.teamname.team-d  { border-bottom: solid 4px #033c82; }
.teamname.team-f  { border-bottom: solid 4px #00508e; }
.teamname.team-h  { border-bottom: solid 4px #f4bb11; }
.teamname.team-m  { border-bottom: solid 4px #000000; }
.teamname.team-l  { border-bottom: solid 4px #002054; }
.teamname.team-e  { border-bottom: solid 4px #840000; }
.teamname.team-bs { border-bottom: solid 4px #000019; }

.teams .vs {
    display: inline-block;
    width: 10%;
    color: #ffc;
    font-weight: bold;
}

.start {
    width: 30%;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
    background: #fff;
    transition: .4s;
    cursor: pointer;
    margin: 1.0em 35%;
    color: #112;
    font-size: 27px;
    text-align: center;
}
.start.team-c  { border: solid 3px #ff0000;color: #ff0000; }
.start.team-g  { border: solid 3px #f27900;color: #f27900; }
.start.team-db { border: solid 3px #0061b7;color: #0061b7; }
.start.team-t  { border: solid 3px #f4cc00;color: #f4cc00; }
.start.team-y  { border: solid 3px #1A854F;color: #1A854F; }
.start.team-d  { border: solid 3px #033c82;color: #033c82; }
.start.team-f  { border: solid 3px #00508e;color: #00508e; }
.start.team-h  { border: solid 3px #f4bb11;color: #f4bb11; }
.start.team-m  { border: solid 3px #000000;color: #000000; }
.start.team-l  { border: solid 3px #002054;color: #002054; }
.start.team-e  { border: solid 3px #840000;color: #840000; }
.start.team-bs { border: solid 3px #000019;color: #000019; }

.start:hover, .start .simulationing { color: #FFF; }
.start.team-c:hover  { background: #ff0000; }
.start.team-g:hover  { background: #f27900; }
.start.team-db:hover { background: #0061b7; }
.start.team-t:hover  { background: #f4cc00; }
.start.team-y:hover  { background: #1A854F; }
.start.team-d:hover  { background: #033c82; }
.start.team-f:hover  { background: #00508e; }
.start.team-h:hover  { background: #f4bb11; }
.start.team-m:hover  { background: #000000; }
.start.team-l:hover  { background: #002054; }
.start.team-e:hover  { background: #840000; }
.start.team-bs:hover { background: #000019; }


.order .reset-order {
    width: 60%;
    padding: 0.4em;
    text-decoration: none;
    background: #336;
    transition: .2s;
    cursor: pointer;
    margin: 0 auto 8px;
    color: #ffc;
    font-size: 17px;
    text-align: center;
}
.order .reset-order:hover {
    background-color: #55a;
}
.order .reset-order.team-c  { border-bottom: 3px solid #ff0000; }
.order .reset-order.team-g  { border-bottom: 3px solid #f27900; }
.order .reset-order.team-db { border-bottom: 3px solid #0061b7; }
.order .reset-order.team-t  { border-bottom: 3px solid #f4cc00; }
.order .reset-order.team-y  { border-bottom: 3px solid #1A854F; }
.order .reset-order.team-d  { border-bottom: 3px solid #033c82; }
.order .reset-order.team-f  { border-bottom: 3px solid #00508e; }
.order .reset-order.team-h  { border-bottom: 3px solid #f4bb11; }
.order .reset-order.team-m  { border-bottom: 3px solid #000000; }
.order .reset-order.team-l  { border-bottom: 3px solid #002054; }
.order .reset-order.team-e  { border-bottom: 3px solid #840000; }
.order .reset-order.team-bs { border-bottom: 3px solid #000019; }

.order {
    float: left;
    width: 44%;
    margin: 0 3%;
}

.order table {
    table-layout: fixed;
}

.order table thead th { padding: 10px 0px; }
.order table thead th.batting-order { width: 10%; }
.order table thead th.position { width: 10%; }
.order table thead th.player-name { width: 40%; }
.order table thead th.status { width: 24%; }
.order table thead th.positions { width: 16%; }

.order table tbody td {
    text-align: center;
    padding: 3px;
    color: #ffc;
    word-wrap:break-all;
    text-overflow: ellipsis;
    overflow: hidden;
}
.order table .clickable,
.modal .positions .position,
.modal .roles .role,
.modal .players .player
{
    background-color: #336;
    padding: 10px 0px;
    transition: .2s;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.order table .clickable:hover,
.modal .positions .position:hover,
.modal .roles .role:hover,
.modal .players .player:hover
{
    background-color: #55a;
}
.order table .clickable.selected,
.modal .positions .position.selected,
.modal .roles .role.selected,
.modal .players .player.selected
{
    background-color: #88c;
}
.modal .roles .role { margin: 5px 0;padding: 10px; }
.order table td .positions,
.order table td .status {
    padding: 10px 0px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal {
    background-color: #112;
}
.modal .headline {
    font-size: 25px;
    color: #ffc;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.modal .players .player {
    float: left;
    width: calc(50% - 40px);
    margin: 5px;
}

@media (max-width: 767px) { 
    .order {
        width: 100%;
        margin: 0;
    }
    
    .teams .teamname {
        width: 45%;
        padding: 5px 0;
        font-size: 22px;
    }

    .teams .teamname.team-c, .teams .teamname.team-g, .teams .teamname.team-db, .teams .teamname.team-t, .teams .teamname.team-y, .teams .teamname.team-d,
    .teams .teamname.team-f, .teams .teamname.team-h, .teams .teamname.team-m, .teams .teamname.team-l, .teams .teamname.team-e, .teams .teamname.team-bs,
    .order .teamname.team-c,  .order .teamname.team-g,  .order .teamname.team-db,  .order .teamname.team-t,  .order .teamname.team-y,  .order .teamname.team-d,
    .order .teamname.team-f,  .order .teamname.team-h,  .order .teamname.team-m,  .order .teamname.team-l,  .order .teamname.team-e,  .order .teamname.team-bs {
        border-width: 2px;
    }

    .start {
        width: 80%;
        margin: 0.5em auto;
    }

    .order .teamname {
        width: 80%;
        margin: 0 auto 0.5em;
        padding: 5px 1em;
        display: block;
        text-align: center;
    }

    .order .reset-order {
        width: 80%;
        padding: 5px 1em;
        margin: 0.5em auto;
    }

}

</style>
