.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

html, body {
    min-height: 100%;
}
body {
    background: radial-gradient(#224, 50%, #112);
    color: #fff;
}

p {
    margin: 0;
}

.pc-only {}
.sp-only { display: none!important; }

.site-branding h1 {
    font-family: "Roboto Bold", Helvetica, "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN W3", Arial, Verdana, sans-serif;
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1.5em;
    width: 100%;
}

th, td {
    border: none;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body .container {
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 767px) { 
    .sp-only { display: inherit; }

    body .container {
        width: 96%;
    }
}
