.color-c  { color: #ff0000; };
.color-g  { color: #f27900; };
.color-db { color: #0061b7; };
.color-t  { color: #f4cc00; };
.color-y  { color: #1A854F; };
.color-d  { color: #033c82; };
.color-f  { color: #00508e; };
.color-h  { color: #f4bb11; };
.color-m  { color: #000000; };
.color-l  { color: #002054; };
.color-e  { color: #840000; };
.color-bs { color: #000019; };
